.idea
out
IHM-UBO-TP.iml
src/main/resources/db
ant_build
target

.gradle
gradle
gradlew
gradlew.bat
build

cicd/jenkins/jenkins_configuration/**
cicd/sonarqube/postgresql/**
cicd/sonarqube/postgresql_data/**
cicd/sonarqube/sonarqube_data/**
cicd/sonarqube/sonarqube_extensions/**
cicd/sonarqube/sonarqube_logs/**

